$blue: #1293a9;
$light_blue: #0eb4b4;
$dark_blue: #32007b;
$darkest_blue: #262c82;
$white: #fffff6;
$darkest_white: #f2f7fb;
$grey: #56565e;

.main-background {

  .gradient {
    position: absolute;
    width: 100%;
    height: 2000px;
    background: linear-gradient(to left top, $light_blue, $dark_blue);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 90%);
    opacity: 0.8;
    z-index: -1;
  }

  .striped {
    position: absolute;
    width: 100%;
    height: 2000px;
    background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 90%);
    z-index: -1000;
  }
}

.content-background {
  .content-striped {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 2800px;
    background: url("../public/images/grey-background.png");
    //background: $darkest_white;
    clip-path: polygon(0 28.5%, 100% 0, 100% 72%, 0 100%);
    z-index: -1000;
  }
}

.footer-background {
  margin-top: -10em;

  .footer-striped {
    position: absolute;
    width: 100%;
    height: 2000px;
    background: linear-gradient(to left top, $light_blue, $dark_blue);
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
    opacity: 0.8;
    z-index: -1;
  }

  .footer-gradient {
    position: absolute;
    width: 100%;
    height: 2000px;
    background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1000;
  }
}