@import 'variables';

.main-background {
  .gradient {
    background: linear-gradient(to left top, $light_blue, $dark_blue);
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 90%);
    height: 1950px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .striped {
    background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 90%);
    height: 1950px;
    position: absolute;
    width: 100%;
    z-index: -500;
  }
}

.content-background {
  .content-striped {
    background: url('../public/images/grey-background.png');
    height: 4000px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1000;
  }
}

.footer-background {
  margin-top: -10em;

  .footer-striped {
    background: linear-gradient(to left top, $light_blue, $dark_blue);
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
    height: 1450px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .footer-gradient {
    background: repeating-linear-gradient(-31deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
    height: 1450px;
    position: absolute;
    width: 100%;
    z-index: -1000;
  }
}

@media (max-width: 576px) {
  .main-background {
    .gradient {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 90%);
      height: 1950px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .striped {
      background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 90%);
      height: 1950px;
      position: absolute;
      width: 100%;
      z-index: -500;
    }
  }

  .content-background {
    .content-striped {
      background: url('../public/images/grey-background.png');
      height: 5500px;
      position: absolute;
      top: 500px;
      width: 100%;
      z-index: -1000;
    }
  }

  .footer-background {
    margin-top: -10em;

    .footer-striped {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0% 100%);
      height: 2130px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .footer-gradient {
      background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0% 100%);
      height: 2130px;
      position: absolute;
      width: 100%;
      z-index: -1000;
    }
  }
}

@media (min-width: 576px) {
  .content-background {
    .content-striped {
      background: url('../public/images/grey-background.png');
      height: 4500px;
      position: absolute;
      top: 1000px;
      width: 100%;
      z-index: -1000;
    }
  }
}

@media (min-width: 768px) {
  .main-background {
    .gradient {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 90%);
      height: 1950px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .striped {
      background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 90%);
      height: 1950px;
      position: absolute;
      width: 100%;
      z-index: -500;
    }
  }

  .content-background {
    .content-striped {
      background: url('../public/images/grey-background.png');
      height: 4500px;
      position: absolute;
      top: 1000px;
      width: 100%;
      z-index: -1000;
    }
  }

  .footer-background {
    margin-top: -10em;

    .footer-striped {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 50%, 100% 15%, 100% 100%, 0% 100%);
      height: 1750px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .footer-gradient {
      background: repeating-linear-gradient(-31deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 50%, 100% 15%, 100% 100%, 0% 100%);
      height: 1750px;
      position: absolute;
      width: 100%;
      z-index: -1000;
    }
  }
}

@media (min-width: 992px) {
  .main-background {
    .gradient {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 75%);
      height: 1950px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .striped {
      background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 75%);
      height: 1950px;
      position: absolute;
      width: 100%;
      z-index: -500;
    }
  }

  .content-background {
    .content-striped {
      background: url('../public/images/grey-background.png');
      height: 4000px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1000;
    }
  }

  .footer-background {
    margin-top: -10em;

    .footer-striped {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 60%, 100% 15%, 100% 100%, 0% 100%);
      height: 1450px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .footer-gradient {
      background: repeating-linear-gradient(-31deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 60%, 100% 15%, 100% 100%, 0% 100%);
      height: 1450px;
      position: absolute;
      width: 100%;
      z-index: -1000;
    }
  }
}

@media (min-width: 1200px) {
  .main-background {
    .gradient {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 90%);
      height: 1950px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .striped {
      background: repeating-linear-gradient(-30deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 90%);
      height: 1950px;
      position: absolute;
      width: 100%;
      z-index: -500;
    }
  }

  .content-background {
    .content-striped {
      background: url('../public/images/grey-background.png');
      height: 4000px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1000;
    }
  }

  .footer-background {
    margin-top: -10em;

    .footer-striped {
      background: linear-gradient(to left top, $light_blue, $dark_blue);
      clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
      height: 1450px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .footer-gradient {
      background: repeating-linear-gradient(-31deg, $blue, $blue 400px, $light_blue 400px, $light_blue 800px);
      clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
      height: 1450px;
      position: absolute;
      width: 100%;
      z-index: -1000;
    }
  }
}
