@import 'variables';

.buttons-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10em;
}

.buttons-info-cards-data {
  background-color: $darkest_white;
  border: 1px solid #cad0d5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 0 1em 2em;
  opacity: 0.7;
  padding: 2.5em 1em;
  width: 30%;

  &:hover {
    background-color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  &-number {
    color: $light_blue;
    font-size: 2em;
    font-weight: bold;
    left: -0.8em;
    position: relative;
    top: -0.4em;
  }

  &-text {
    letter-spacing: 1px;
    line-height: 2em;
  }
}

@media (max-width: 576px) {
  .buttons-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;
  }

  .buttons-info-cards-data {
    background-color: $darkest_white;
    border: 1px solid #cad0d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 1em 2em;
    opacity: 0.7;
    padding: 2.5em 1em;
    width: 100%;

    &:hover {
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .buttons-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;
  }

  .buttons-info-cards-data {
    background-color: $darkest_white;
    border: 1px solid #cad0d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 1em 2em;
    opacity: 0.7;
    padding: 2.5em 1em;
    width: 45%;

    &:hover {
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
}

@media (min-width: 992px) {
  .buttons-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;
  }

  .buttons-info-cards-data {
    background-color: $darkest_white;
    border: 1px solid #cad0d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 1em 2em;
    opacity: 0.7;
    padding: 2.5em 1em;
    width: 46%;

    &:hover {
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
}

@media (min-width: 1200px) {
  .buttons-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;
  }

  .buttons-info-cards-data {
    background-color: $darkest_white;
    border: 1px solid #cad0d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 1em 2em;
    opacity: 0.7;
    padding: 2.5em 1em;
    width: 30%;

    &:hover {
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
}
