@import 'variables';

.footer-info {
  border-top: 1px solid $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  padding-top: 4.7em;
}

.footer-info-general {
  display: flex;
  flex-direction: column;
  margin-top: -2em;
}

.footer-info-general-who {
  &-p {
    color: $darkest_white;
    font-size: 0.9em;
    opacity: 0.5;
  }
}

.footer-info-general-country {
  color: $white;
  font-size: 0.9em;
  margin-bottom: 3em;
}

.footer-info-general-country-c {
  letter-spacing: 1px;

  img {
    height: 12px;
    margin-right: 1em;
    width: 15px;
  }
}

.footer-info-general-country-r {
  letter-spacing: 1px;
  margin-bottom: 1em;

  i {
    margin-right: 0.37em;
  }

  &-telegram {
    fill: $white;
    height: 17px;
    margin-bottom: 0.3em;
    margin-right: 0.2em;
    width: 17px;
  }
}

.footer-info-general-image {
  margin-bottom: 1em;
  position: relative;
  top: -0.3em;

  &-img {
    height: 5.5em;
    width: 7em;
  }
}

.footer-info-another {
  color: $white;

  h5 {
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 1.4em;
  }

  p {
    color: $darkest_white;
    font-size: 0.85em;
    letter-spacing: 1px;
    margin-top: 1.05em;
    opacity: 0.6;
  }
}

.events {
  width: 20%;

  &-title {
    color: $white;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 1.3em;
    position: relative;
    top: -0.2em;
  }
}

.events-time {
  align-items: center;
  background-color: rgba(38, 44, 130, 0.7);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.events-time-date {
  background-color: $light_blue;
  border: 0;
  border-radius: 30px;
  color: $white;
  font-size: 0.8em;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  width: 30%;

  &:hover {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    padding: 3px;
  }
}

.events-time-where {
  color: $white;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 2em;
}

@media (max-width: 576px) {
  .footer-info {
    border-top: 1px solid $blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    padding-top: 2em;
  }

  .footer-info-general {
    display: flex;
    flex-direction: column;
    margin-top: 0.2em;
    width: 45%;
  }

  .footer-info-general-image {
    margin-bottom: 1em;

    &-img {
      height: 5.5em;
      width: 7em;
    }
  }

  .footer-info-general-country {
    color: $white;
    margin-bottom: 1.5em;
  }

  .footer-info-general-country-c {
    letter-spacing: 1px;

    img {
      height: 12px;
      margin-right: 1em;
      width: 15px;
    }
  }

  .footer-info-general-country-r {
    letter-spacing: 1px;

    i {
      margin-right: 1em;
    }
  }

  .footer-info-general-who {
    &-p {
      color: $darkest_white;
      opacity: 0.6;
    }
  }

  .footer-info-another {
    color: $white;
    margin-top: 2em;
    width: 45%;

    p {
      color: $darkest_white;
      font-size: 0.85em;
      margin-top: 0.6em;
      opacity: 0.6;
    }
  }

  .events {
    margin-top: 2em;
    width: 100%;

    &-title {
      color: $white;
      margin-bottom: 2em;
    }
  }
}

@media (min-width: 768px) {
  .footer-info {
    border-top: 1px solid $blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    padding-top: 4.7em;
  }

  .footer-info-general {
    display: flex;
    flex-direction: column;
    margin-top: -2em;
    width: 25%;
  }

  .footer-info-another {
    color: $white;
    margin-bottom: 4em;
    order: -1;
    width: 30%;

    h5 {
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 1.4em;
    }

    p {
      color: $darkest_white;
      font-size: 0.85em;
      letter-spacing: 1px;
      margin-top: 1.05em;
      opacity: 0.6;
    }
  }

  .events {
    width: 66%;

    &-title {
      color: $white;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 1.3em;
      position: relative;
      top: -0.2em;
    }
  }
}

@media (min-width: 992px) {
  .footer-info {
    border-top: 1px solid $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    padding-top: 4.7em;
  }

  .footer-info-general {
    display: flex;
    flex-direction: column;
    margin-top: -2em;
    width: 20%;
  }

  .footer-info-another {
    color: $white;
    order: 0;
    width: 16%;

    h5 {
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 1.4em;
    }

    p {
      color: $darkest_white;
      font-size: 0.85em;
      letter-spacing: 1px;
      margin-top: 1.05em;
      opacity: 0.6;
    }
  }

  .events {
    width: 25%;

    &-title {
      color: $white;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 1.3em;
      position: relative;
      top: -0.2em;
    }
  }
}

@media (min-width: 1200px) {
  .events {
    width: 20%;

    &-title {
      color: $white;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 1.3em;
      position: relative;
      top: -0.2em;
    }
  }
}
