
@import 'variables';

.info-cards {
  display: flex;
  flex-direction: column;

  &-first-layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }
}

.info-cards-first-layer-card {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  padding: 3em 1em;
  width: 48.5%;
}

.info-cards-first-layer-card-clock {
  width: 40%;

  &-img {
    margin: 1.5em 0 1.5em 1em;
    width: 80%;
  }
}

.info-cards-first-layer-card-texts {
  width: 60%;

  &-bold {
    font-weight: bold;
  }

  &-info {
    color: $grey;
    line-height: 2em;
    margin-top: 1.5em;
  }
}

.info-cards-first-layer-card-texts-button {
  background-color: $light_blue;
  border: 0;
  border-radius: 5px;
  color: $white;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1.5em;
  padding: 10px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
    border: 2px solid $grey;
    color: $grey;
    padding: 8px 18px;
  }
}

@media (max-width: 576px) {
  .info-cards {
    display: flex;
    flex-direction: column;
    margin-top: 5em;

    &-first-layer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .info-cards-first-layer-card {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    padding: 1em;
    width: 100%;
  }

  .info-cards-first-layer-card-clock {
    width: 40%;

    &-img {
      margin: 3em 0 2em 1em;
      width: 80%;
    }
  }

  .info-cards-first-layer-card-texts {
    margin-top: 0;
    width: 60%;

    &-info {
      color: $grey;
      line-height: 2em;
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .info-cards {
    display: flex;
    flex-direction: column;
    margin-top: 5em;

    .info-cards-first-layer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .info-cards-first-layer-card {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    padding: 1em;
    width: 100%;
  }

  .info-cards-first-layer-card-clock {
    width: 40%;

    &-img {
      margin: 1.4em 0 1em 1em;
      width: 80%;
    }
  }

  .info-cards-first-layer-card-texts {
    margin-top: 1em;
    width: 60%;
  }

  .info-cards-first-layer-card-texts-button {
    background-color: $light_blue;
    border: 0;
    border-radius: 5px;
    color: $white;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1.5em;
    padding: 12px 40px;
    text-transform: uppercase;

    &:hover {
      background-color: transparent;
      border: 2px solid $grey;
      color: $grey;
      padding: 10px 38px;
    }
  }
}

@media (min-width: 992px) {
  .info-cards {
    display: flex;
    flex-direction: column;
    margin-top: -1em;

    .info-cards-first-layer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .info-cards-first-layer-card {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 2.5em 1em;
    width: 48.5%;
  }

  .info-cards-first-layer-card-clock {
    width: 40%;

    &-img {
      margin: 3.5em 0 1.5em 1em;
      width: 90%;
    }
  }

  .info-cards-first-layer-card-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52.5%;
    margin-top: 0;

    &-bold {
      font-weight: bold;
      font-size: 1.2em;
    }

    &-info {
      color: $grey;
      line-height: 2em;
      font-size: 0.9em;
      margin-top: 0.8em;
    }
  }

  .info-cards-first-layer-card-texts-button {
    background-color: $light_blue;
    border: 0;
    border-radius: 5px;
    color: $white;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1.5em;
    padding: 13px 30px;
    text-transform: uppercase;
    width: 80%;

    &:hover {
      background-color: transparent;
      border: 2px solid $grey;
      color: $grey;
      padding: 11px 28px;
    }
  }
}

@media (min-width: 1200px) {
  .info-cards {
    display: flex;
    flex-direction: column;
    margin-top: -1em;

    .info-cards-first-layer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .info-cards-first-layer-card {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 2.5em 1em;
    width: 48.5%;
  }

  .info-cards-first-layer-card-clock {
    width: 40%;

    &-img {
      margin: 1.9em 0 1.5em 1em;
      width: 90%;
    }
  }

  .info-cards-first-layer-card-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 0;

    &-bold {
      font-weight: bold;
      font-size: 1.2em;
    }

    &-info {
      color: $grey;
      line-height: 2em;
      font-size: 0.9em;
      margin-top: 0.8em;
    }
  }

  .info-cards-first-layer-card-texts-button {
    background-color: $light_blue;
    border: 0;
    border-radius: 5px;
    color: $white;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1.5em;
    padding: 13px 20px;
    text-transform: uppercase;
    width: 60%;

    &:hover {
      background-color: transparent;
      border: 2px solid $grey;
      color: $grey;
      padding: 11px 18px;
    }
  }
}
