@import 'variables';

.zero {
  display: flex;
  flex-direction: row;
  margin: 6em auto 0;
  width: 90%;
}

.zero-image {
  width: 50%;

  &-img {
    width: 100%;
  }
}

.zero-info {
  margin-left: 2em;
  padding-top: 1em;
  width: 40%;

  &-title {
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  &-text-blue {
    color: $light_blue;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1.4em;
  }

  &-text {
    color: $grey;
    font-size: 1.1em;
    line-height: 2.1em;
    margin-bottom: 1em;
  }

  &-text-small {
    color: $grey;
    font-size: 0.85em;
    line-height: 2em;
  }
}

.zero-info-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  width: 26%;

  &-i {
    background-color: $light_blue;
    border-radius: 50%;
    color: $white;
    margin-left: 0.4em;
    padding: 5px;
  }
}

.zero-info-icons-i-svg {
  background-color: $light_blue;
  border-radius: 50%;
  fill: $white;
  height: 30px;
  left: 2px;
  padding: 5px;
  position: relative;
  width: 30px;
}

.zero-info-icons-i-alignment-t {
  &::before {
    left: -0.02em;
    position: relative;
  }
}

.zero-info-icons-i-alignment-s {
  &::before {
    position: relative;
    top: 0.013em;
  }
}

@media (min-width: 320px) {
  .zero {
    display: flex;
    flex-direction: column;
    margin: 10em auto 0;
    width: 90%;
  }

  .zero-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-img {
      min-height: 234px;
      width: 90%;
    }
  }

  .zero-info {
    margin-left: 0;
    padding-top: 1em;
    width: 100%;

    &-title {
      font-weight: bold;
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    &-text-blue {
      color: $light_blue;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1em;
    }

    &-text {
      color: $grey;
      line-height: 2em;
      margin-bottom: 2em;
    }

    &-text-small {
      color: $grey;
      font-size: 0.85em;
      line-height: 2em;
    }
  }

  .zero-info-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 100%;

    &-i {
      background-color: $light_blue;
      border-radius: 50%;
      color: $white;
      margin-left: 0.4em;
      padding: 5px;
    }
  }

  .zero-info-icons-i-svg {
    background-color: $light_blue;
    border-radius: 50%;
    fill: $white;
    height: 30px;
    left: 2px;
    padding: 5px;
    position: relative;
    width: 30px;
  }
}

@media (min-width: 375px) {
  .zero-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-img {
      min-height: 279px;
      width: 90%;
    }
  }
}

@media (min-width: 425px) {
  .zero-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-img {
      min-height: 320px;
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .zero {
    display: flex;
    flex-direction: column;
    margin: 10em auto 0;
    width: 90%;
  }

  .zero-info {
    margin-left: 0;
    padding-top: 1em;
    width: 100%;

    &-title {
      font-weight: bold;
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    &-text-blue {
      color: $light_blue;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1em;
    }

    &-text {
      color: $grey;
      line-height: 2em;
      margin-bottom: 2em;
    }

    &-text-small {
      color: $grey;
      font-size: 0.85em;
      line-height: 2em;
    }
  }

  .zero-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-img {
      min-height: 558px;
      width: 90%;
    }
  }

  .zero-info-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 20%;

    &-i {
      background-color: $light_blue;
      border-radius: 50%;
      color: $white;
      margin-left: 0.4em;
      padding: 5px;
    }
  }

  .zero-info-icons-i-svg {
    background-color: $light_blue;
    border-radius: 50%;
    fill: $white;
    height: 30px;
    left: 2px;
    padding: 5px;
    position: relative;
    width: 30px;
  }
}

@media (min-width: 992px) {
  .zero {
    display: flex;
    flex-direction: row;
    margin: 6em auto 0;
    width: 90%;
  }

  .zero-info {
    margin-left: 1.5em;
    padding-top: 1em;
    width: 40%;

    &-title {
      font-weight: bold;
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    &-text-blue {
      color: $light_blue;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1.4em;
    }

    &-text {
      color: $grey;
      font-size: 1.1em;
      line-height: 2.1em;
      margin-bottom: 1em;
    }

    &-text-small {
      color: $grey;
      font-size: 0.85em;
      line-height: 2em;
    }
  }

  .zero-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;

    &-img {
      min-height: 418px;
      width: 100%;
    }
  }

  .zero-info-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 35%;

    &-i {
      background-color: $light_blue;
      border-radius: 50%;
      color: $white;
      margin-left: 0.4em;
      padding: 5px;
    }
  }

  .zero-info-icons-i-svg {
    background-color: $light_blue;
    border-radius: 50%;
    fill: $white;
    height: 30px;
    left: 2px;
    padding: 5px;
    position: relative;
    width: 30px;
  }
}

@media (min-width: 1200px) {
  .zero-info {
    margin-left: 1.5em;
    padding-top: 1em;
    width: 40%;

    &-title {
      font-weight: bold;
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    &-text-blue {
      color: $light_blue;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1.4em;
    }

    &-text {
      color: $grey;
      font-size: 1.1em;
      line-height: 2.1em;
      margin-bottom: 1em;
    }

    &-text-small {
      color: $grey;
      font-size: 0.85em;
      line-height: 2em;
    }
  }

  .zero-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;

    &-img {
      min-height: 499px;
      width: 100%;
    }
  }

  .zero-info-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 26%;

    &-i {
      background-color: $light_blue;
      border-radius: 50%;
      color: $white;
      margin-left: 0.4em;
      padding: 5px;
    }
  }

  .zero-info-icons-i-svg {
    background-color: $light_blue;
    border-radius: 50%;
    fill: $white;
    height: 30px;
    left: 2px;
    padding: 5px;
    position: relative;
    width: 30px;
  }
}
