@import 'variables';

.zero {
  display: flex;
  flex-direction: row;
  margin: 10em auto 0;
  width: 90%;
}

.zero-image {
  width: 50%;

  .zero-image-img {
    width: 100%;
  }
}

.zero-info {
  margin-left: 2em;
  padding-top: 1em;
  width: 40%;

  .zero-info-title {
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  .zero-info-text-blue {
    color: $light_blue;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1em;
  }

  .zero-info-text {
    color: $grey;
    line-height: 2em;
    margin-bottom: 2em;
  }

  .zero-info-text-small {
    color: $grey;
    font-size: 0.85em;
    line-height: 2em;
  }
}

.zero-info-icons {
  margin-top: 2em;

  .zero-info-icons-i {
    background-color: $light_blue;
    border-radius: 50%;
    color: $white;
    margin-left: 0.2em;
    padding: 5px;
  }
}

.zero-info-icons-i-alignment-t {
  &::before {
    left: -0.02em;
    position: relative;
  }
}

.zero-info-icons-i-alignment-s {
  &::before {
    position: relative;
    top: 0.013em;
  }
}


@media (max-width: 768px) {
  .zero {
    display: flex;
    flex-direction: column;
    margin: 10em auto 0;
    width: 90%;

    .zero-image {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .zero-image-img {
        width: 90%;
      }
    }

    .zero-info {
      margin-left: 0;
      padding-top: 1em;
      width: 100%;

      .zero-info-title {
        font-weight: bold;
        line-height: 1.5em;
        margin-bottom: 1em;
      }

      .zero-info-text-blue {
        color: $light_blue;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 1em;
      }

      .zero-info-text {
        color: $grey;
        line-height: 2em;
        margin-bottom: 2em;
      }

      .zero-info-text-small {
        color: $grey;
        font-size: 0.85em;
        line-height: 2em;
      }
    }
  }

  .zero-info-icons {
    margin-top: 2em;

    .zero-info-icons-i {
      background-color: $light_blue;
      border-radius: 50%;
      color: $white;
      margin-left: 0.2em;
      padding: 5px;
    }
  }
}

