$blue: #1293a9;
$light_blue: #0eb4b4;
$dark_blue: #32007b;
$darkest_blue: #262c82;
$white: #fffff6;
$darkest_white: #f2f7fb;
$grey: #56565e;

.content-background {
  .content-striped {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 2800px;
    background: url("../public/images/grey-background.png");
    //background: $darkest_white;
    clip-path: polygon(0 28.5%, 100% 0, 100% 70%, 0 100%);
    z-index: -1000;
  }
}

.zero {
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: row;

  .zero-image {
    width: 50%;

    .zero-image-img {
      width: 100%;
    }
  }

  .zero-info {
    width: 40%;
    margin-left: 2em;
    padding-top: 1em;

    .zero-info-title {
      font-weight: bold;
      margin-bottom: 1em;
      line-height: 1.5em;
    }

    .zero-info-text-blue {
      color: $light_blue;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1em;
    }

    .zero-info-text {
      color: $grey;
      line-height: 2em;
      margin-bottom: 2em;
    }

    .zero-info-text-small {
      color: $grey;
      font-size: 0.85em;
      line-height: 2em;
    }

    .zero-info-icons {
      margin-top:2em;


      .zero-info-icons-i {
        background-color: $light_blue;
        padding: 5px;
        border-radius: 50%;
        color: $white;
        margin-left: 0.2em;
      }
    }
  }
}

@media (max-width: 768px) {
  .zero {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;

    .zero-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .zero-image-img {
        width: 90%;
      }
    }

    .zero-info {
      width: 100%;
      margin-left: 0;
      padding-top: 1em;

      .zero-info-title {
        font-weight: bold;
        margin-bottom: 1em;
        line-height: 1.5em;
      }

      .zero-info-text-blue {
        color: $light_blue;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 1em;
      }

      .zero-info-text {
        color: $grey;
        line-height: 2em;
        margin-bottom: 2em;
      }

      .zero-info-text-small {
        color: $grey;
        font-size: 0.85em;
        line-height: 2em;
      }

      .zero-info-icons {
        margin-top:2em;


        .zero-info-icons-i {
          background-color: $light_blue;
          padding: 5px;
          border-radius: 50%;
          color: $white;
          margin-left: 0.2em;
        }
      }
    }
  }
}